@import url('https://fonts.googleapis.com/css?family=Rubik:300');
$bg: #3f3d42;
$sidebarcolor: #3e4e83;
$homecolor: #ffffff;
$white: #ecf0f1;
$gray: #595e70;
$font: 'Rubik';

#root {
  position: relative;
}

html, body {
  background: radial-gradient($bg 0, darken($bg, 15%) 100%);
  min-height: 100vh;
  font-family: $font, sans-serif;
  padding: 0;
  margin: 0;
}

.sidebar {
  box-shadow: 0 0px 50px hsla(0, 0, 0, 0.7);
  background: radial-gradient($sidebarcolor 0, darken($sidebarcolor, 15%) 100%);
  position: absolute;
  left: 50px;
  top: 20px;
  width: 300px;
  padding: 30px;
  border-radius: 25px;
  display:inline-block;
}

.sidebar-p {
  font: $font;
  color: $white;
}

.home-div {
  box-shadow: 0 0px 50px hsla(0, 0, 0, 0.7);
  background: radial-gradient($homecolor 0, darken($homecolor, 15%) 100%);
  position: relative;
  left: 50px;
  top: 20px;
  width: 800px;
  height: 1000px;
  left: 500px;
  padding: 20px;
  border-radius: 25px;
  display:inline-block;
}

.home-p {
  text-align: left;
  font: $font;
  color: $gray;
}

a{
  color: lightblue;
}

h1 {
  text-align: center;
  font-size: 27px;
  letter-spacing: 4px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
}

h3 {
  text-align: left;
  font-size: 22px;
  letter-spacing: 4px;
  padding-top: 30px;
}

h4 {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 500; 
}

.tabbed {
  margin-left: 3em;
}


img.rounded {
  box-shadow: 0 0px 50px hsla(0, 0, 0, 0.7);
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.small {
  height: 30px;
  width: 100px;
  padding-top: 10px;
}

img.home {
  height: 70px;
  width: 55px;
}